@page
@model WaterProject.Pages.CompletedModel
@{
}

<div class="text-center">
    <h2>YOOOO these books are now yours!</h2>
    <a class="btn btn-primary" asp-controller="Home">ET... Return HOME</a>
</div>
